spring:
  application:
    name: CoShift
  datasource:
    url: jdbc:postgresql://localhost:5432/coshifting
    username: coshift
    password: coshift
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

logging:
  level:
    org.hibernate.SQL: debug
